<div class="pt-16 px-4 w-full">
    <ul class="flex gap-4">
        <li class="flex items-center gap-[8px]">
            <input type="radio" id="year" name="date" class="radio-button" value="option1">
            <label for="year" class="cursor-pointer">Year</label>
        </li>
        <li class="flex items-center gap-[8px]">
            <input type="radio" id="month" name="date" class="radio-button" value="option2">
            <label for="month" class="cursor-pointer">Month</label>
        </li>
    </ul>

    <div class=" w-full">

    <div>
        <div>
            <div class=" w-80">
                <div class="mt-10 text-center lg:col-start-8 lg:col-end-13 lg:row-start-1 lg:mt-9 xl:col-start-9">
                    <div class="flex items-center text-gray-900">
                        <button type="button"
                            class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
                            <span class="sr-only">Previous month</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <div class="flex-auto text-sm font-semibold">January</div>
                        <button type="button"
                            class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
                            <span class="sr-only">Next month</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    <div
                        class="isolate mt-2 grid grid-cols-3 gap-px rounded-lg bg-gray-200 text-sm shadow ring-1 ring-gray-200">
                        @for (item of years; track $index) {
                            <button #yearItem type="button" (click)="selectDate(item, yearItem)" class="rounded-tr-lg bg-white py-1.5 text-gray-900 hover:bg-gray-100 focus:z-10">
                                <time datetime="2021-12-27"
                                    class="mx-auto flex h-7 w-7 items-center justify-center rounded-full">{{item}}</time>
                            </button>
                        }

                    </div>
                </div>
            </div>


        </div>


    </div>
    
</div>